{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/hls.js') }}"></script>  
<style type="text/css">
  .my_hover:hover{
    background-color: #ffff00;
    transition: all 0.01s ease-in-out;
  }
</style>
<div>
  <div class="btn-group btn-group-sm flex-wrap mr-2" role="group">
    <button id="load_channel_btn" name="load_channel_btn" class="btn btn-sm btn-outline-success">채널로딩</button>
  </div>
  {{ macros.m_row_start('0') }}
  {{ macros.m_row_end() }}

  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(1,  macros.m_strong('Inx')) }}
  {{ macros.m_col(1,  macros.m_strong('Icon')) }}
  {{ macros.m_col(2,  macros.m_strong('pooq')) }}
  {{ macros.m_col(2,  macros.m_strong('tving')) }}
  {{ macros.m_col(2,  macros.m_strong('oksusu')) }}
  {{ macros.m_col(2,  macros.m_strong('videoportal')) }}
  {{ macros.m_col(2,  macros.m_strong('everyon')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="list_div"></div>
</div>

<script type="text/javascript">
var package_name = 'klive';
var current_data = null;
var ddns = "{{arg['ddns']}}"
var current_video_id = null
var hls = null
var current_url = null
var error_count = 0

$(document).ready(function(){
  $.ajax({
    url: '/' + package_name + '/ajax/custom',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      current_data = data;
      make_list(data)
    }
  });
});


function make_list(ret) {
  //console.log(data)
  str = '';
  data = ret.list
  var site_use = [(ret.setting.use_pooq=='True'), (ret.setting.use_tving=='True'), (ret.setting.use_oksusu=='True'), (ret.setting.use_videoportal=='True'), (ret.setting.use_everyon=='True')];
  console.log(site_use)
  for (i in data) {
    //str += m_row_start_hover(0);
    str += m_row_start();
    str += m_col(1, parseInt(i)+1);
    //tmp = '<br><img src="' + data[i].icon + '" height="30px">'
    tmp = data[i].name
    str += m_col(1, tmp);
    
    var site = [
      ['pooq', data[i].pooq_name, data[i].pooq_id],
      ['tving', data[i].tving_name, data[i].tving_id],
      ['oksusu', data[i].oksusu_name, data[i].oksusu_id],
      ['videoportal', data[i].videoportal_name, data[i].videoportal_id],
      ['everyon', data[i].everyon_name, data[i].everyon_id]
    ]

    for (j in site) {
      if (site[j][1] != null && site_use[j]) {
        tmp = '<label class="checkbox-inline"><input type="checkbox" value="">'+site[j][1]+'</label><br>'
        url = ddns + "/klive/api/url.m3u8?m=url&s=" + site[j][0] + "&i=" + site[j][2]
        tmp2 = m_button('global_link_btn', 'Open', [{'key':'url', 'value':url}]);
        tmp2 = m_button_group(tmp2)
        str += m_col(2, tmp+tmp2);
      } else {
        str += m_col(2, '');
      }
    }
    
    tmp = ''
    tmp += m_button('web_play_btn', 'Play', [{'key':'source', 'value':data[i].source}, {'key':'source_id', 'value':data[i].source_id}]);
    url = ddns + "/klive/api/url.m3u8?m=url&s=" + data[i].source + "&i=" + data[i].source_id
    tmp += m_button('global_link_btn', 'Open', [{'key':'url', 'value':url}]);
    tmp = m_button_group(tmp)
    //str += m_col(2, tmp)

    str += m_row_end();
    
    video_id = "video_" + data[i].source+'_'+data[i].source_id
    tmp = '<div id="'+video_id+'_div" class="collapse">'
    tmp += m_row_start();
    
    tmp2 = '<center><video height="480" id="'+video_id+'" controls></video></center>'
    tmp += m_col(1, '');
    tmp += m_col(10, tmp2);
    tmp += m_col(1, m_button('close_btn', '닫기', []));
    
    tmp += m_row_end();

    tmp += '</div>'
    //str += m_col(12, tmp);
    //str += m_row_end();
    str += tmp
    if (i != data.length -1) str += m_hr(0);
  }
  document.getElementById("list_div").innerHTML = str;
}


</script>    
{% endblock %}