{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/hls.js') }}"></script>  
<div>
  
    <form id="form_search" class="form-inline" style="text-align:left">
      <div class="container-fluid">
        <div class="row show-grid">
          <span class="col-md-4">
            <select id="order" name="order" class="form-control form-control-sm">
              <option value="desc">최근순</option>
              <option value="asc">오래된순</option>
            </select>
            <select id="option" name="option" class="form-control form-control-sm">
              <option value="all">전체</option>
              <option value="request_True">요청</option>
              <option value="request_False">패스</option>
              <option value="by_plex_on">PLEX 프로그램⭕</option>
              <option value="by_plex_off">PLEX 프로그램❌</option>
              <option value="by_plex_episode_off">PLEX 에피소드❌</option>
            </select>
          </span>
          <span class="col-md-8">
            <input id="search_word" name="search_word" class="form-control form-control-sm w-75" type="text" placeholder="프로그램명" aria-label="Search">
            <button id="search" class="btn btn-sm btn-outline-success">검색</button>
            <button id="reset_btn" class="btn btn-sm btn-outline-success">리셋</button>
          </span>
        </div>
      </div>
    </form>
    <div id='page1'></div>
    {{ macros.m_hr_head_top() }}
    {{ macros.m_row_start('0') }}
    {{ macros.m_col(2,  macros.m_strong('Info')) }}
    {{ macros.m_col(1,  macros.m_strong('Status')) }}
    {{ macros.m_col(5,  macros.m_strong('Title')) }}
    {{ macros.m_col(2,  macros.m_strong('Time')) }}
    {{ macros.m_col(2,  macros.m_strong('Path')) }}
    {{ macros.m_row_end() }}
    {{ macros.m_hr_head_bottom() }}
    <div id="list_div"></div>
    <div id='page2'></div>
    
   
</div>

<script type="text/javascript">
var package_name = 'klive';
var current_data = null;
var ddns = "{{arg['ddns']}}"
var current_video_id = null
var hls = null
/*
$("body").on('click', '#web_play_btn', function(e) {
  e.preventDefault();
  source = $(this).data('source')
  source_id = $(this).data('source_id')
  url = ddns + "/klive/api/url?m=url&s=" + source + "&i=" + source_id

  window.open(url, "_blank");
});
*/

$("body").on('click', '#web_play_btn', function(e) {
  e.preventDefault();
  source = $(this).data('source')
  source_id = $(this).data('source_id')
  video_id = "video_"+source+"_"+source_id
  url = ddns + "/klive/api/url?m=url&s=" + source + "&i=" + source_id
  play_video(video_id, url)
});

function stop_video() {
  if (hls != null) {
    hls.destroy();
  }
  if (current_video_id != null) {
    $('#' + current_video_id + "_div").collapse('hide')
  }
  current_video_id = null
}

function play_video(video_id, url) {
  console.log(url)
  stop_video();
  current_video_id = video_id;
  $('#' + current_video_id + "_div").collapse('show')
  if(Hls.isSupported()) {
    var video = document.getElementById(current_video_id);
    hls = new Hls();
    hls.on(Hls.Events.ERROR, function(event,data) {
      var msg = "Player error: " + data.type + " - " + data.details;
      stop_video()
      $.notify('<strong>'+msg+'</strong>', {
        type: 'warning'
      });
    });
    hls.loadSource(url);
    
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
      video.play();
    });
  }
}

$("body").on('click', '#close_btn', function(e) {
  e.preventDefault();
  stop_video();
});

















$(document).ready(function(){
  request_search('1');
});

$("#search").click(function(e) {
  e.preventDefault();
  request_search('1');
});

$("body").on('click', '#page', function(e){
  e.preventDefault();
  request_search($(this).data('page'));
});

$("#reset_btn").click(function(e) {
  e.preventDefault();
  document.getElementById("order").value = 'desc';
  document.getElementById("option").value = 'all';
  document.getElementById("search_word").value = '';
  request_search('1')
});

$("body").on('click', '#json_btn', function(e){
  e.preventDefault();
  var id = $(this).data('id');
  for (i in current_data.list) {
    if (current_data.list[i].id == id) {
      m_modal(current_data.list[i])
    }
  }
});

$("body").on('click', '#rss_search_btn', function(e){
  e.preventDefault();
  var search_word = $(this).data('id');
  $(location).attr('href', '/rss/search?search_word=' + search_word)
});

$("body").on('click', '#self_search_btn', function(e){
  e.preventDefault();
  var search_word = $(this).data('id');
  document.getElementById("search_word").value = search_word;
  request_search('1')
});

$("body").on('click', '#except_program_btn', function(e){
  e.preventDefault();
  var program = $(this).data('id');
  $.ajax({
    url: '/'+package_name+'/ajax/add_program',
    type: "POST", 
    cache: false,
    data: {except_program:program},
    dataType: "json",
    success: function (data) {
      except_result_process(data);
    }
  });
});

$("body").on('click', '#whitelist_program_btn', function(e){
  e.preventDefault();
  var program = $(this).data('id');
  $.ajax({
    url: '/'+package_name+'/ajax/add_program',
    type: "POST", 
    cache: false,
    data: {whitelist_program:program},
    dataType: "json",
    success: function (data) {
      except_result_process(data);
    }
  });
});

$("body").on('click', '#add_remote_btn', function(e) {
  e.preventDefault();
  hash = $(this).data('hash');
  $.ajax({
    url: '/offcloud/ajax/cache_download_bot',
    type: "POST", 
    cache: false,
    data: {hash:hash},
    dataType: "json",
    success: function (data) {
      m_modal(data)
    }
  });
});

$("body").on('click', '#cache_btn', function(e){
  e.preventDefault();
  hash = $(this).data('hash');
  $.ajax({
    url: '/offcloud/ajax/hash',
    type: "POST", 
    cache: false,
    data:{hash:hash},
    dataType: "json",
    success: function (data) {
      if (data) {
        $.notify('<strong>캐쉬 되어 있습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>캐쉬 되어 있지 않습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
  //$(location).attr('href', '/offcloud/cache?magnet=' + hash)
});

$("body").on('click', '#add_download_btn', function(e) {
  e.preventDefault();
  id = $(this).data('id');
  $.ajax({
    url: '/'+package_name+'/ajax/add_download',
    type: "POST", 
    cache: false,
    data: {id:id},
    dataType: "json",
    success: function (data) {
      if (data) {
        $.notify('<strong>다운로드 추가하였습니다.</strong>', {
          type: 'success'
        });
        request_search(current_data.paging.current_page, false)
      } else {
        $.notify('<strong>다운로드 추가에 실패하였습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});

$("body").on('click', '#plex_refresh_btn', function(e) {
  e.preventDefault();
  id = $(this).data('id');
  $.ajax({
    url: '/'+package_name+'/ajax/plex_refresh',
    type: "POST", 
    cache: false,
    data: {id:id},
    dataType: "json",
    success: function (data) {
      if (data) {
        $.notify('<strong>변경되었습니다.</strong>', {
          type: 'success'
        });
        request_search(current_data.paging.current_page, false)
      } else {
        $.notify('<strong>변경되지 않았습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});







function request_search(page, move_top=true) {
  var formData = get_formdata('#form_search')
  formData += '&page=' + page;
  $.ajax({
    url: '/' + package_name + '/ajax/filelist',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      current_data = data;
      /*
      if (move_top)
        window.scrollTo(0,0);
      make_list(data.list)
      make_page_html(data.paging)
      */
      make_list(data)
    }
  });
}

function except_result_process(data) {
  if ( data == 1) {
    $.notify('<strong>추가하였습니다.</strong>', {
      type: 'success'
    });
  } else if ( data == 0) {
    $.notify('<strong>이미 설정되어 있습니다.</strong>', {
      type: 'warning'
    });
  } else {
    $.notify('<strong>Exception</strong>', {
      type: 'warning'
    });
  }
}

function make_list(data) {
  //console.log(data)
  str = '';
  for (i in data) {
    console.log(data[i])
    str += m_row_start(0);
    tmp = '<img src="' + data[i].icon + '" class="img-fluid">'
    str += m_col(1, tmp);
    str += m_col(1, data[i].source);
    str += m_col(2, data[i].title);
    

    tmp = ''
    tmp += m_button('web_play_btn', 'Play', [{'key':'source', 'value':data[i].source}, {'key':'source_id', 'value':data[i].source_id}]);
    url = ddns + "/klive/api/url?m=url&s=" + data[i].source + "&i=" + data[i].source_id
    tmp += m_button('link_btn', 'Open', [{'key':'url', 'value':url}]);
    

    /*
    if (data[i].plex_key != null)
      tmp += m_button('link_btn', 'Open PLEX', [{'key':'url', 'value':'https://app.plex.tv/desktop#!/server/' + current_data.plex_server_hash + '/details?key=' + data[i].plex_key}]);
    tmp += m_button('link_btn', 'Daum 검색', [{'key':'url', 'value':'https://search.daum.net/search?w=tv&q='+data[i].feed.daum_title+'&irk='+data[i].feed.daum_id+'&irt=tv-program&DA=TVP'}]);
    tmp += m_button('json_btn', 'JSON', [{'key':'id', 'value':data[i].id}]);
    tmp += m_button('rss_search_btn', 'RSS 검색', [{'key':'id', 'value':data[i].feed.daum_title}]);
    tmp += m_button('self_search_btn', '목록 검색', [{'key':'id', 'value':data[i].feed.daum_title}]);
    tmp += m_button('plex_refresh_btn', 'PLEX 정보 새로고침', [{'key':'id', 'value':data[i].id}]);
    tmp2 = m_button_group(tmp)

    tmp = m_button('except_program_btn', '제외프로그램 추가', [{'key':'id', 'value':data[i].feed.daum_title}]);
    tmp += m_button('whitelist_program_btn', '포함프로그램 추가', [{'key':'id', 'value':data[i].feed.daum_title}]);
    
    tmp += m_button('add_download_btn', '다운로드 추가', [{'key':'id', 'value':data[i].id}]);
    tmp += m_button('add_remote_btn', 'Offcloud 추가', [{'key':'hash', 'value':data[i].feed.magnet}]);
    tmp += m_button('cache_btn', 'Offcloud 캐쉬', [{'key':'hash', 'value':data[i].feed.magnet}]);
    */
    tmp = m_button_group(tmp)
    

    str += m_col(2, tmp)
    
    
    
    str += m_row_end();
    
    video_id = "video_" + data[i].source+'_'+data[i].source_id
    tmp = '<div id="'+video_id+'_div" class="collapse">'
    tmp += m_row_start();
    
    tmp2 = '<center><video height="500" id="'+video_id+'" controls></video></center>'
    tmp += m_col(1, '');
    tmp += m_col(10, tmp2);
    tmp += m_col(1, m_button('close_btn', '닫기', []));
    tmp += m_row_end();

    tmp += '</div>'
    //str += m_col(12, tmp);
    //str += m_row_end();
    str += tmp
    //if (i != data.length -1) str += m_hr(0);
  }
  document.getElementById("list_div").innerHTML = str;
}


</script>    
{% endblock %}